.back1 {
  position: relative;
  background-color: #dbdbd793;
  left: -1px;
  top: -66px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: 65px;
  width: 116px;
}
.back2 {
  position: relative;
  background-color: #dbdbd7;
  left: 5px;
  top: -127px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: 63px;
  width: 113px;
}
.dropbarout {
  display: flex;
  height: 70px;
  border: 0.4px solid rgba(245, 222, 179, 0.701);
  padding-left: 8px;
}
.im3up {
  opacity: 0;
  pointer-events: none;
  right: 135px;
  width: 13px;
  height: 10px;
  position: fixed;
  top: 52px;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.08s;
}
.im3uphvr {
  opacity: 1;
  pointer-events: auto;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.08s;
}
.i {
  position: relative;
  right: 45px;
  bottom: 49px;
}
.t {
  background-color: rgba(0, 0, 0, 0.721);
  z-index: -1;
  opacity: 0;
  width: 310px;
  height: 217px;
  right: 129px;
  color: rgba(255, 255, 255, 0.726);
  position: relative;
  border-top: 2px solid #dbdbd7;
  margin-top: 13px;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.08s;
  position: fixed;
  top: 55px;
}
.thvr {
  position: fixed;
  pointer-events: auto;
  top: 55px;
  opacity: 1;
  z-index: 2;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.08s;
}
.t div:nth-child(n):hover {
  background-color: rgba(0, 0, 0, 0.88);
}
.dropbar2active2 {
  position: fixed;
  top: 55px;
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.08s;
  cursor: pointer;
}
.im3uphvractive {
  opacity: 1;
  pointer-events: auto;
  transition-property: all;
  transition-duration: 0.08s;
  transition-delay: 0.108s;
}
.notificationlinks:hover {
  color: white;
}
